# Dependencies
node_modules

# Build output
dist
dist-ssr

# Env
.env
.env.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json

# Test
coverage

#Static Items
references/
dist
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo